<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Tiger Fitness Sport</title>
    <link rel="stylesheet" href="css/main.css">
    <!-- Bootstrap 5 CSS -->
    <script src="javascript/main.js" defer></script>
 
</head>
<body style="background-image: url('gym.jpg'); background-repeat: no-repeat; 
background-size: 1400px 1400px;">
    <header>
        <h1 class="item">Tiger Sport Club</h1>
        <nav class="item">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/reg">Registration</a></li>
                <li><a href="/list">Customer List</a></li>
                <li><a href="/pass">Profile</a></li>
                <li id="logout">Logout</li>

            </ul>
        </nav>
    </header>