<%- include('includes/head.ejs') %>
    <div id="root">
        <form method="post" action="pass">
            <h2 class="w">For Security Reason You Can Change Email and Password</h2>
            <div class="form-group">

            
            <label for="email">1. Insert New Email Address</label>
            <input type="email" name="email" >
            <br>
             <label for="pass2">2. Insert New Password</label>
            <input type="password" name="pass" id="">          
            <button type="submit" >Submit</button>
        </div>
        </form>
       
    </div>
    <script>

const logout = document.getElementById('logout')

   logout.addEventListener('click',()=>{
     fetch('http://localhost:9000/logout',{method:'POST'})
   })
    </script>
</body>
</html>