<%- include('includes/head.ejs') %>
    <div id="root">
        <form method="post" enctype="multipart/form-data" action="reg">
            <h2 class="w">Please fill information of an athlete</h2>
            <div class="form-group">

            <label for="name">1. Enter Full Name</label>
            <input type="text" name="name"> 
            <label for="image">2. insert photo</label>
            <input type="file" name="uploaded_file" accept="img/*">
            <label for="email">3. Email Address(it should be unique)</label>
            <input type="email" name="email" >
            <label for="phone">4. Phone Number(09-12-33-44-33)</label>
            <input type="tel" name="phone" pattern="[0]{1}[9]{1}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}"/>
            <label for="des">5. Addtional Information</label>
            <textarea rows="4" cols="50" name="comment"></textarea>
            <label for="des">6. Start Date</label>
            <input type="date" name="date" id="day" >
            <label for="End">7.End Date</label>
            <input type="date" name="End" >
            <button type="submit" >Submit</button>
        </div>
        </form>
       
    </div>
    <script>
   const logout = document.getElementById('logout')

   logout.addEventListener('click',()=>{
     fetch('/logout',{method:'POST'})
   })

    </script>
</body>
</html>